application/config/database.php
simulacion
logins
static/documents/*
static/images/*
static/company_documents/*
lasterror.html
extras/htmls-tpl/css
extras/htmls-tpl/img
extras/htmls-tpl/js
extras/htmls-tpl/font

